{% extends 'frame.html' %}

{% block title %}{{ post.type }} - {% endblock %}

{% block content %}
<div id="content">

    <div class="post post-text clearfix">
        <div class="post-meta">
            <a class="post-date" href="{{post.url}}">
                <span class="post-date-month">{{ post.date.month}}</span>
                <span class="post-date-day">{{ post.date.day }}</span>
                <span class="post-date-year">{{ post.date.year }} </span>
            </a>
        </div>

        <div class="post-body">
            <div class="post-content">
                <h2 class="post-title">
                    <a href="{{post.url}}">{{ post.title|title }}</a>
                </h2>
                <div class="rich-content">
                    {{ post.content|safe }}
                </div>
            </div>
            <div class="post-extra clearfix">
                <div class="post-link-wrap">
                    <a class="post-plink" href="{{post.url}}?#disqus_thread"> 热度</a>
                    <span class="pipe">|</span>
                    <a class="post-plink" href="{{post.url}}">全文链接</a>
                </div>
            </div>
            <div class="post-note">
                <!--<iframe id="diandian_comments" scrolling="no" allowtransparency="true" src="/comment.html" frameborder="0" height="148" width="700">

                </iframe>-->
            </div>
        </div>
    </div>


    <div id="pagination" class="normal-pagination">
    {% if post.last_url %}
        {% if post.last_url != '/' %}
                <a href="{{post.last_url}}" id="pager-prev" alt="{{post.last_title}}">上一篇</a>
        {% else %}
                <a href="{{post.last_url}}" id="pager-prev" alt="{{post.last_title}}">首页</a>
        {% endif %}

        {% if post.next_url != '/' %}
                <a href="{{post.next_url}}" id="pager-next" alt="{{post.last_title}}">下一篇</a>
        {% else %}
                <a href="{{post.next_url}}" id="pager-next" alt="{{post.next_title}}">首页</a>
        {% endif %}
    {% else %}
                <a href="/" id="pager-prev" alt="返回首页">返回首页</a>
    {% endif %}
    </div>


    {% if permanent_url %}
    <div id="disqus_thread" style='margin: 0 0 20px 192px;width: 742px;'></div>
    {% endif %}

</div>

{% if permanent_url %}
<script>
var disqus_config = function () {
    this.page.url = '{{permanent_url}}';
    this.page.identifier = '{{permanent_id}}';
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//tinyggcn.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

{% endblock %}
